[Desktop Entry]
Name=AKBL
Exec=akbl
Terminal=false
Type=Application
Icon=/home/cadweb/Documents/eclipse-workspace/akbl/usr/share/AKBL/icon.png
Categories=Settings;
Name[en_US.UTF-8]=AKBL
