[Desktop Entry]
Name=AKBL
Exec=akbl
Terminal=false
Type=Application
Icon=/usr/share/AKBL/ADDONS/GUI/images/icon.png
Categories=Settings;
Name[en_US.UTF-8]=AKBL
