[Desktop Entry]
Name=AlienwareKBL
Exec=alienware-kbl
Terminal=false
Type=Application
Icon=/usr/share/AlienwareKBL/ADDONS/GUI/images/icon.png
Categories=Settings;
