Package: alienware-kbl
Version: 1.5.0~0
Architecture: all
Maintainer: Rafael Senties Martinelli <rafael@senties-martinelli.com>
Depends: gksu, libgtk-3-0 (>=3.10), libgtk-3-dev (>=3.10), python3, python3-gi, python3-cairo, libusb-1.0-0
Recommends: systemd, gir1.2-appindicator3, python3-serpent, gir1.2-appindicator3-0.1
Installed-Size: DEB_BUILDER_SIZE
Section: utils
Priority: optional
Homepage: http://rsm.website/software/gnu-linux/software/alienware-kbl
Description: Control the keyboard lights of alienware computers under GNU-Linux systems.
 Alienware-KBL allows you to control the keyboard lights of Alienware computer under GNU-Linux systems. The package comes with;
 - A graphical interphase
 - A SystemTry indicator
 - Python Bindings
